@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TheV</h1>
    <p class="lead">Welcome to my test site.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Somewhere in the cloud</h2>
        <p>
            Azure ....
        </p>
    </div>
</div>